﻿@model BusReservation.Controllers.ViewModel

@{
    ViewBag.Title = "Details";
}

<style>

    .whatever {
        background-color: green;
        display: inline-block;
        width: 15px;
        height: 15px;
    }

    #checkboxes input[type=checkbox] {
        display: none;
    }

        #checkboxes input[type=checkbox]:checked + .whatever {
            background-color: red;
        }
</style>

<h2>Destination: @Model.Destinations.From - @Model.Destinations.To</h2>
<h4>Destination</h4>
<hr />



@using (Html.BeginForm("Test", "Tickets", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div>

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Destinations.From)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Destinations.From)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Destinations.To)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Destinations.To)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Destinations.PriceOneWay)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Destinations.PriceOneWay)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Destinations.PriceTwoWay)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Destinations.PriceTwoWay)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Destinations.PriceStudent)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Destinations.PriceTwoWay)
                        </dd>

                    </dl>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input data-val="true" data-val-number="The field DestinationId must be a number." data-val-required="The DestinationId field is required."
                       id="DestinationId" name="DestinationId" type="hidden" value="@Model.Destinations.DestinationId" />

                @Html.HiddenFor(model => model.Destinations.BusId)
                @{
                    Random r = new Random();

                }
                <input data-val="true" data-val-number="The field Type must be a number." data-val-required="The Type field is required." id="Type" name="Type" type="hidden" value="@r.Next(1,3)" />



                <div class="form-group">
                    @Html.LabelFor(model => model.Tickets[0].Price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select name="Price" class="dropdownlist" id="Price">
                            @foreach (SelectListItem item in ViewBag.ceni)
                            {
                                <option value="@(item.Value)" selected="selected">@item.Text</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.Tickets[0].Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Tickets[0].Date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        <input type="text" class="form-control Date" id="Date" name="Date" value="">
                        @Html.ValidationMessageFor(model => model.Tickets[0].Date, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*
                    <div class="form-group">
                        @Html.LabelFor(model => model.Tickets.SeatNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" data-val="true" data-val-number="The field Seat Number must be a number." data-val-required="The Seat Number field is required." id="SeatNumber" name="SeatNumber" type="number" value="" />
                            @Html.ValidationMessageFor(model => model.Tickets.SeatNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                *@
                <input id="Peron" name="Peron" type="hidden" value="@r.Next(3,10)">

                @*
                    <div class="form-group">
                        @Html.LabelFor(model => model.Buses, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Buses", new SelectList(ViewBag.Avtobusi, "BusId", "Name"), new { @class = "dropdown" })
                            @Html.ValidationMessageFor(model => model.Peron, "", new { @class = "text-danger" })
                        </div>
                    </div>
                *@
            </div>
            <div class="col-md-6">
                <div id="checkboxes" class=" col-md-3 " style="">
                    @{
                        bool flag = false;
                    }
                    @for (int i = 1; i <= Model.Destinations.Bus.NumberOfSeats; i++)
                    {
                        for (int j = 0; j < Model.Tickets.Count; j++)
                        {
                            if (i == Model.Tickets[j].SeatNumber)
                            {
                                flag = true;
                                <input type="checkbox" name="SeatNumber" value="@i" id="@i" disabled />
                                <label class="whatever" style="background-color:darkgrey" for="@i"></label>
                            }
                        }
                        if (flag)
                        {
                            flag = false;
                            continue;
                        }
                        <input type="checkbox" name="SeatNumber" value="@i" id="@i" />
                        <label class="whatever" for="@i"></label>
                    }
                </div>`
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buy Ticket" onclick="SaveList()" class="btn btn-default" />

                @*<input type="submit" value="Buy" onclick="SaveList()" class="btn btn-primary" />*@
            </div>
        </div>
    </div>
    <script>
        var SaveList = function () {
            var array = [];
            var idString = '';
            $("#checkboxes input[type=checkbox]").each(function (index, val) {
                
                var checkId = $(val).attr("id");
                var value = $(val).val();
                var isChecked = $("#" + checkId).is(":checked", true);
                if (isChecked) {
                    array.push(value.toString())
                }
            })

            if (array.length != 0) {
                var nizaSedista = [];
                var returnObject = {};
                returnObject.Type = document.getElementById("Type").value;
                returnObject.Price = document.getElementById("Price").value;
                returnObject.Date = document.getElementById("Date").value;
                returnObject.Peron = document.getElementById("Peron").value;
                returnObject.DestinationId = document.getElementById("DestinationId").value;
                returnObject.BusId = document.getElementById("Destinations_BusId").value;
                returnObject.seatNo = array.toString();
             
                var url = "/Tickets/Test";

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: { ReturnedObject: JSON.stringify(returnObject) },
                    async: false,
                    cache: false,
                    timeout: 2000,
                    success: function (msg) {
                        
                    }
                });
            }   
        }
    </script>
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Destinations.DestinationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
