﻿@using BusReservation.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<style>
    #shadow {
        border: 1px;
        padding: 10px;
        box-shadow: 0px 5px 20px #888888;
    }
</style>

<div class="row" style="margin-top:30px">
    
    <div class=" col-md-offset-2">
        <div class="col-md-6">
            <div class="container-fluid">
                <div id="shadow" class="jumbotron">
                    <h2 class="" style="margin:0px; margin-left:3%">  @ViewBag.Title.</h2>
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4 style="margin-left:3%">Use a local account to log in.</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <label class="col-md-2 control-label" style="text-align:right" for="Email">Email</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" style="text-align:right" for="Password">Password</label>
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-offset-2 col-md-2">
                                    <input type="submit" value="Log in" class="btn btn-primary" />
                                </span>
                                <span class="col-md-offset-2 col-md-5">
                                    <p style="font-size:14px">
                                        @Html.ActionLink("Register as a new user", "Register")
                                    </p>
                                </span>
                            </div>
                            
                                
                            
                            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
                        }
                    </section>
                </div>
                <div class="col-md-4">
                    @*<section id="socialloginform">
                    @html.partial("_externalloginslistpartial", new externalloginlistviewmodel { returnurl = viewbag.returnurl })
                </section>*@
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}