﻿@model BusReservation.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<style>
    #shadow {
        border: 0px;
        padding: 10px;
        box-shadow: 0px 5px 20px #888888;
    }
</style>


<div class="row" style="margin-top:30px">
    <div class=" col-md-offset-2">
        <div class="col-md-7">
            <div class="container-fluid">
                <div id="shadow" class="jumbotron">
                    <h2 class="" style="margin:0px; margin-left:5%">@ViewBag.Title.</h2>
                    <section id="registerForm">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4 style="margin-left:5%">Create a new account.</h4>
                            <hr style=" display:block; margin-top: 5%; margin-bottom: 5%;margin-left: 7%;margin-right: 7%  ; border 1px solid gray;" />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="text-align:right" for="Email">Email</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="text-align:right" for="Password">Password</label>
                                <div class="col-md-9">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="text-align:right" for="ConfirmPassword">Confirm Password</label>
                                <div class="col-md-9">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <br />
                                <div class="col-md-offset-2 col-md-2">
                                    <input type="submit" class="btn btn-default" value="Register" />
                                </div>
                            </div>
                        }
                </div>
            </div>
        </div>
    </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
