﻿@model IEnumerable<BusReservation.Models.Bus>

@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-9">
        <div class="jumbotron">
            <h1>Register and get 25% off</h1>
            <p class="lead">Register and get your first ticket for 25% off the price. Get fast and secure everywhere with our transportation.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
    </div>
    @{ 
        var list = ViewBag.popularniDestinacii as IEnumerable<BusReservation.Models.Destination>;
    }
    <div class="col-md-3">
            <h2>Popular Destinations</h2>
            <ul class="list-group">
                @foreach (var i in list)
                {
                <li class="list-group-item">@i.From - @i.To <span style="float:right">@Html.ActionLink("see more", "Details", "Destinations", new { id = i.DestinationId }, new { })</span></li>
                }
            </ul>
        </div>
</div>

<hr />

<h3 style="margin-bottom:0px">Bus Transporters</h3>
<hr style="margin-top:10px" />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="jumbotron" style="padding:20px">
                <h3>@item.Name</h3>
                <img src="~/Content/Images/@(item.BusId).jpg" alt="vardar-express" class="img-circle" style="display:block; margin:auto; width:150px; height:150px" />
                <br />
                <p style="font-size:14px">@Html.ActionLink("See more information for " + item.Name, "Details", "Buses", new { id = item.BusId }, new { })</p>
            </div>
        </div>
    }
</div>


<style>
    .box {
        padding: 60px 0px;
    }

    .box-part {
        background: #FFF;
        border-radius: 0;
        padding: 60px 10px;
        margin: 30px 0px;
    }

    .text {
        margin: 20px 0px;
    }

    .fa {
        color: #4183D7;
    }
</style>